
.container {
position: relative ;
widht: 600px;
left : 50%;
margin : auto 0;
padding : 50;
background-color: #FFFFFF;
background-color:#0000FF;
}
.container {
position: relative ;
widht: 600px;
left : 50%;
margin : auto 0;
padding : 50;
background-color: #FFFFFF;
background-color:#0000FF;
}